.hero {
  position: relative;
  width: 100%;

  .hero-background {
    display: block;
    position: absolute;
    z-index: -99;
    width: 100%;
    height: auto;
    left: 0;
  }

  .hero-mockups-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(-8%);
    padding: 0 $mobile-padding;

    .hero-mockups {
      display: block;
      width: 100%;
      max-width: 767px;
      height: auto;
    }
  }

  .hero--content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}
