.why {
  background: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .why--title {
    margin-bottom: 1rem;
    max-width: 170px;
    text-align: center;
  }

  .why--subtitle {
    margin: 1rem 0;
    text-align: center;
  }

  .why--answer {
    text-align: center;
  }

  .why--item {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .why--item:first-of-type {
    padding: 64px 0 32px;
  }

  .why--item:last-of-type {
    padding: 32px 0 0;
  }
}
