@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* primary colors */
$blue: hsl(233, 26%, 24%);
$green: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

/* secondary colors */
$grey-dark: hsl(233, 8%, 62%);
$grey: hsl(220, 16%, 96%);
$grey-light: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* typography */
$font-base-size: 15px;
$font-family: 'Public Sans', sans-serif;
$fw-thin: 300;
$fw-bold: 700;

html {
  font-size: $font-base-size;
  font-family: $font-family;

  @media (min-width: $bp-desktop) {
    font-size: 18px;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {
  font-size: 2.7rem;
  color: $blue;
  line-height: 1.2;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;
  color: $blue;
  line-height: 1.2;

  @media (min-width: $bp-desktop) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: $blue;
  line-height: 1.2;
}

p {
  max-width: 320px;
  color: $grey-dark;
  line-height: 1.6;
  font-weight: 400;

  @media (min-width: $bp-desktop) {
    max-width: 450px;
  }
}
